<head>
	<style type="text/css">
		* {
			box-sizing:border-box;
		}
		.clearfix:after {
		    content: "";
		    display: table;
		    clear: both;
		}
		.divide1{
			float: left;
			width:50%;
			padding-right: 10px;
		}
		.divide2{
			float: left;
			width:50%;
			padding-left: 10px;
		}

		@media screen and (max-width: 900px){
			.divide1{
				float: none;
				width:100%;
				padding:0 0 10px 0;
			}
			.divide2{
				float: none;
				width:100%;
				padding: 0 0 10px 0;
			}	
		}	
	</style>
</head>